* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #FFFFFE;
  width: 100vw;
}

header {
  margin-bottom: 20px;

  .navbar {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #030d1d;
    justify-content: space-around;
    align-items: center;
    
    .logo-link {
      color: #ffffff;
      font-size: 24px;
    }

    .hamburguer {
      position: absolute; 
      top: 25px;
      right: 30px;
      font-size: 26px;
      background-color: transparent;
      border: none;
      color: #FFFFFF;
      z-index: 100;
    }

    .navbar-links-hidden {
      display: none;
      gap: 10px;
      justify-content: space-around;
    }

    .navbar-links {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      align-items: center;
      background-color: #030d1d;

      .navbar-item a {
        color: #FFFFFF;
        font-size: 26px;
      }
    }
  } 
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .btn-palettes {
    width: 200px;
    height: 30px;
    background-color: #030d1d;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
  }

  .title-input {
    font-size: 18px;
    margin-bottom: 10px;
  }

  input {
    width: 90%;
    height: 30px;
    padding: 10px;
  }

  #select-palette {
    width: 90%;
    height: 30px;
    margin-top: 20px;
  }
}

.btn {
    width: 130px;
    height: 30px;
    background-color: #030d1d;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    margin-top: 10px;
}

.buttonReset {
  background-color: #b86037;
}

.buttonSelect {
  background-color: #548625;
}

.divPalette {
  position: relative;
  width: 85%;
  height: 50px;
  margin: 10px auto;
  background-color: #030d1d;
  display: flex;
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  background-color: #030d1d;
  padding: 40px 0;
  
  a{
    color: #FFFFFF;
  }
}

button:hover {
  cursor: pointer;
  opacity: .8;
}

.borderPalettes {
  border: 2px solid #000000;
}

.colorSelect {
  display: flex;
  flex-direction: column;
  height: 350px;
  margin-bottom: 10px;

  .divColor {
    width: 300px;
  }
}

.divContainerPalette {
  width:90%;
  height: 350px;
  top: 100px;
  margin: 20px auto;

  &~.btnBack {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 40px;
  }
}